body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(34, 34, 45);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: darkblue;
    border-radius: 5px;
    font-size: larger;
}

.nav-links a:hover {
    background-color: navy;
}

.content {
    background-image: url('image/image.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.menu {
    display: flex;  
    justify-content: center; 
    gap: 20px; 
    text-align: center;
    position: absolute;  
    top: 15%; 
    left:50px; 
}

.menu-btn {
    background-color:rgb(34, 34, 45);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 15px;
    cursor: pointer;
    width: 300px; 
    height: 100px; 
    
}

.menu-btn img {
    width: 100px;  /* Adjust icon size */
    height: 95px;
}

.menu-btn span {
    flex-grow: 1;  /* Ensures text aligns properly */
    text-align: left;
}

.menu-btn:hover {
    background-color: #484b74;
}

.text-container h2 {
    color: white; 
    font-size: 42px;
    font-weight: bold;
    margin-left: 3%; 
    margin-top: 180px;
    
}
.text-container h1 {
    color: white; 
    font-size: 42px;
    font-weight: bold;
    margin-left: 13%; 
    margin-top: -30px;
    row-gap: 2px;

}
.description {
    color: white;
    font-size: 18px;
    max-width: 60%;
    text-align: center;
    margin-top: 10px;

    line-height: 1.5;
    margin-left: 2%; 
}

.learn-more-btn {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top:10px;
    margin-left:25%;
}

.learn-more-btn:hover {
    background-color: navy;
}


body {
    overflow-x: hidden; 
}
/* Footer styling */
.footer {
    background-color: rgb(34, 34, 45);
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;  /* Makes the footer take up 100% of the screen width */
    position: absolute;  /* Absolute positioning to stick at the bottom */
    left: 0;  /* Ensures no horizontal offset */
    top:940px;  /* Stick the footer to the bottom */
    height: 35px;  /* Set the footer height */
}

/* Footer text styling */
.footer p {
    font-size: 16px;
    margin: 0;
}
@media (max-width: 600px) {
    body {
        overflow-x: hidden; 
    }
    .navbar {
        padding: 10px; 
        flex-direction: column; 
        align-items: flex-start; 
        width:auto;
    }

    .nav-links {
        width: 90%; 
        text-align: center; 
        margin-top: 10px; 
    }

    .nav-links a {
        display: block; 
        margin: 5px 0; 
        padding: 8px 12px; 
        font-size: medium; 

    }

    .content {
        background-image: url("image/i.webp");
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        min-height: 70vh;            
        min-width: auto; 
        overflow-x: hidden;                 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        flex-direction: column; 
        align-items: center; 
        width: 80%; 
        top:200px;
        gap:15px;
        
    }

    .menu-btn {
        width: 110%; 
        font-size: 14px; 
        padding: 10px; 
        height: auto; 
        transform:none;
        gap:15px;
    }

    .menu-btn img {
        width: 60px; 
        height: 60px;
    }

    .text-container h1
    {
        font-size: 20px; 
        text-align: center; 
        transform: none;
        margin-top:-10px;
        margin-left:20px;
    }
    .text-container h2
    {
        font-size: 24px; 
        text-align: center; 
        transform: none;
        margin-top:270px;
        margin-left:20px;
    }
    
    

    .description {
        font-size: 15px; 
        text-align: horizontal; 
        transform:none;
        margin-top:20px;
        margin-left:80px;

    
    }

    .footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 15px 0;
        width: 100%;  /* Footer takes up 100% of the screen width */
        height: 30px;  /* Set footer height */
        top:1010px;
    }
    
    /* Footer text styling */
    .footer p {
        font-size: 14px;
        margin: 0;
    }
    
}

@media (min-width: 800px) and (max-width: 1000px){


    .navbar {
        padding: 10px; 
        flex-direction: column; 
        align-items: flex-start; 

    }

    .nav-links {
        width: 90%; 
        text-align: center; 
        margin-top: 10px; 
    }

    .nav-links a {
        display: block; 
        margin: 5px 0; 
        padding: 8px 12px; 
        font-size: 1.3em; 

    }

    .content {
        background-image: url("image/i.webp");
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        min-height: 80vh;            
        min-width: auto; 
        overflow-x: hidden;                 
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .menu { 
        align-items: center; 
        width: 100%; 
        top:380px;
        
    }

    .menu-btn {
        width: 240px;
        font-size: 12px; 
        padding: 10px;
        height: auto; 
        margin-top:-170px;
        

    }

    .menu-btn img {
        width: 60px; 
        height: 60px;
    }


    .text-container h2 {
        font-size: 37px; 
        text-align: center;
        margin-top:20px;
        left: auto; 
    }
    .text-container h1 {
        font-size: 37px; 
        text-align: center; 
        margin-top:-20px;
        left: auto; 
    }

    .description {
        font-size: 20px; 
        max-width: 80%; 
        text-align: center; 
        top: auto; 
        margin-left: 60px; 
    }

    .footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 15px 0;
        width: 100%;  /* Footer takes up 100% of the screen width */
        height: 30px;  /* Set footer height */
        top:1000px;
    }
    
    /* Footer text styling */
    .footer p {
        font-size: 14px;
        margin: 0;
    }
    
}

@media (min-width: 601px) and (max-width: 800px){

   
    .navbar {
        padding: 10px; 
        flex-direction: column; 
        align-items: flex-start; 
        overflow-x: hidden;

    }

    .nav-links {
        width: 100%; 
        text-align: center; 
        margin-top: 10px; 
    }

    .nav-links a {
        display: block; 
        margin: 5px 0; 
        padding: 8px 12px; 
        font-size: 1.3em; 

    }

    .content {
        background-image: url("image/i.webp");
        background-size: cover;       
        background-position: center;  
        background-repeat: no-repeat; 
        min-height: 60vh;            
        overflow-x: hidden;                
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .menu { 
        flex-direction:column;

        align-items: center; 
        width: 100%; 
        top:380px;
        gap:110px;
        
    }

    .menu-btn {
        width: 320px; 
        font-size: 12px; 
        padding: 10px; 
        height: auto; 
        margin-top:-170px;
        gap:10px;

    }

    .menu-btn img {
        width: 60px; 
        height: 60px;
    }


    .text-container h2 {
        font-size: 37px; 
        text-align: center; 
        margin-top:350px;
        left: auto; 
    }
    .text-container h1 {
        font-size: 37px; 
        text-align: center; 
        margin-top:-30px;
        left: auto; 
    }

    .description {
        font-size: 20px; 
        max-width: 80%; 
        text-align: center; 
        top: auto; 
        margin-left: 60px; 
    }

    
    .footer {
        background-color: #222;
        color: white;
        text-align: center;
        padding: 15px 0;
        width: 100%;  /* Footer takes up 100% of the screen width */
        height: 20px;  /* Set footer height */
        top:1000px;
    }
    
    /* Footer text styling */
    .footer p {
        font-size: 14px;
        margin: 0;
    }
    
}
