/* General Styles */
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header section */
header {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0px;
}

.header-item img {
    width: 500px;
    height: 130px;
    object-fit: cover;
}

/* Background Section */
.background {
    background-image: url('image/facialrecognition (1).png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: red;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

/* Button section */
.button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding-top: 5px;
}

/* Button Card */
.button-card {
    text-align: center;
    width: 220px;
    height: 300px;
    position: relative;
}

.button-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Buttons */
.btn {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: darkblue;
    color: red;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: red;
    color: white;
}

/* Exit Button Special Style */
.exit {
    background-color: yellow;
    color: red;
}

.exit:hover {
    background-color: red;
    color: white;
}
