<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'forgot.css'%}">
</head>
<body>
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        <h2>Reset Password</h2>
        <p>Forgot Password ?</p>
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Submit</button>
        <a href="{% url 'Login' %}" class="back-link">Login</a></form>
    </div>
</body>
</html>